# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.gitmodules

# Distribution / packaging
*.egg-info/

# virtualenv
.venv

# VS Code
.vscode

# Pipefile
Pipfile
Pipfile.lock

# results folder
model_action_output/